
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
}



@media only screen and (min-width: 320px) {
    h1 {
        margin: 5em 1.3rem 1em;
    }
}

@media only screen and (min-width: 375px) {
    h1 {
        margin: 7em 1.3rem 1em;
    }
}
@media only screen and (min-width: 425px) {
    h1 {
        font-size: 5em;
        margin: 3.3em 1.3rem 1em;
    }
}
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 7em;
        margin: 1.3em 4.3rem 1em;
    }
}


h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-flex;
}

.navbar__menu .menu__link {
    display: inline-block;
    padding: 1em;
    color: #fff;
    border-radius: 7px;
    transition: 0.3s ease-in;
}

.navbar__menu .menu__link:hover {
    background-color: #ffd700;
    color: #192a56;
    font-weight: bold;
    transition: ease 0.3s all;
    cursor: pointer;
}
/* .menu__link .active{
    background-color: red;
} */
/* a.active{
    background-color: red;
} */

.page__header {
    background: linear-gradient(to top, #00ff99 0%, #0033cc 100%);
    position: fixed;
    top: 0;
    min-height: 3em;
    width: 100%;
    z-index: 11;
    transition: top 0.5s;
}

.page__footer {
    /* background: #000; */
    background: linear-gradient(to top, #00ff99 0%, #0033cc 100%);
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}



.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

        /* Scroll the page to top button style */

/* ============================================ s*/
#btn{
    display: none;
    position: fixed;
    bottom: 147px;
    right: 15px;
    padding: 11px;
    border-radius: 7px;
    background-color:rgb(255, 99, 71);
    color: #fff;
    font-size: 17px;
    z-index: 23;
}

#btn:hover{
    background-color: #cc1;
    color: lightcoral;
    cursor: pointer;
}
/* ============================================ end*/

        /* the ==> ::after && ::before  used to create the bubble*/
/* ==================================================================== s*/

section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: linear-gradient(to top, #00ff99 0%, #0033cc 100%);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(0, 255, 153, 0.5) 0%, rgba(0, 51, 204, 0.5) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(0, 255, 153, .9) 0%, rgba(0, 51, 204, 0.9) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    /* background: rgb(255, 255, 255); */
    background: linear-gradient(0deg, rgba(0, 255, 153, .9) 0%, rgba(0, 51, 204, 0.9) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ==================================================================== end*/


/* < this is the style for active state > */
section.your-active-class {
    /* background: rgb(0, 0, 0); */
    background: linear-gradient(to top, #ffff99 0%, #0033cc 100%);
}
section.active-link{
    color: lightcoral;
}
section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}
